[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = marianna1111
	email = 143908448+marianna1111@users.noreply.github.com
